*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--font);
}
:root{
    --font:#202124;
}
body{
    background-color: #F6F8FC;
    height: 100vh;
}
.container{
    display: flex;
}
.aside-top{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 15px;
}
.aside-top i{
    padding: 15px;
}
.aside-top i:hover{
    background-color: #8b8f948f;
    opacity: 0.6;
    border-radius: 30px;
}
.btn button{
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #C2E7FF;
    transition: all 0.2s ease;
}
.btn button:hover{
    transform: scale(1.05);
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.342), 0 0px 5px 0px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}
.liste{
    margin-top: 1rem;
}
.liste ul li{
    padding-left: 1.54rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 225px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}
.liste ul li:hover{
    background-color: #8b8f948f;
}
.liste ul li i{
    margin-right: 1rem;
    color: var(--font);
}
.liste ul li:nth-child(1){
    background-color: #D3E3FD;
}
article header{
    display: flex;
    height: 70px;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
}
article header input{
    width: 720px;
    height: 50px;
    background: #EAF1FB;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 50px;
    transition: all 0.2s ease;
    
}
article header input:focus{
    background: #fff;
    transition: all 0.2s ease;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.342), 0 0px 5px 0px rgba(0, 0, 0, 0.342);

    
}
article header .fa-magnifying-glass{
    position: absolute;
    z-index: 44;
    top: 17px;
    left: 10px ;
    padding: 10px;
    cursor: pointer;
}
article header .fa-magnifying-glass:hover{
    background-color: #8b8f948f;
    border-radius: 30px;
    opacity: 0.6;
}
article header .fa-sliders{
    position: absolute;
    z-index: 44;
    left: 42rem;
    top: 17px;
    padding: 10px;
    cursor: pointer;
}
article header .fa-sliders:hover{
    background-color: #8b8f948f;
    border-radius: 30px;
    opacity: 0.6;
}
.sag-taraf{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    
}
.sag-taraf i{
    font-size: 20px;
    color: var(--font);
    
}
.header-1 i{
    cursor: pointer;
}
nav{
    display: flex;
    
}
nav div{
    display: flex;
    padding: 20px;
    padding-right: 150px;
    cursor: pointer;
}
nav div:nth-child(1){
    margin: 0 5px;
    border-bottom: 3px solid #0B57D0;
}
nav div:nth-child(1) p{
    margin: 0 5px;
    color: #0B57D0;
}
nav div:nth-child(1) i{
    margin: 0 5px;
    color: #0B57D0;
}
nav div i{
    margin-right: 1rem;
}
nav div i,p{
    color: var(--font);
}
nav div:hover{
    background-color: #8b8f948f;
}
.mailler{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    justify-content: space-between;
    border-top: 1px solid #ECEFF1;
    border-bottom: 1px solid #ECEFF1;
}
.mailler p{
    color: #000;
    font-weight: 700;
    font-size: .875rem;
}
.bottom{
    display: flex;
    height: 80px;
    padding-top: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
    
}
.bottom .progress{
    width: 210px;
    height: 7px;
    background-color: #DADCE0;
    border-radius: 7px;
    margin-bottom: 7px;
}
.bottom .progres_fill{
    width: 15px;
    height: 7px;
    background-color: #5F6368;
    border-radius: 7px;
}
.bottom .bottom-1 a{
    font-size: 13px;
    color: #636466;
    
}
.bottom .bottom-1 a:hover{
    text-decoration: underline;
    
}
.bottom .center a{
    font-size: 13px;
}
.bottom .center a:hover{
    text-decoration: underline;
}
.bottom .end p{
    font-size: 13px;
    
}
